.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

    gap: 20px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    position: relative;
}

.card img {
    width: 350px;
    border-radius: 20px;
}

.card hr {
    border: 0;
    height: 3px;
    background-color: gold;
    width: 25px;
    margin-left: 5px;
}

.card .txt h1 {
    margin: 25px 5px 5px 5px;
}

.card .txt h2 {
    margin: 5px 5px 25px 5px;
}

.card .txt p {
    font-size: 25px;
    max-width: 350px;
}

.card .bottom {
    position: absolute;
    bottom: 0;
    max-width: 350px;
    width: 100%;
}

.card .bottom hr {
    width: 100%;
    background-color: lightgray;
    height: 1px;
}

.card .bottom .txt {
    display: flex;
    justify-content: space-between;
}

.card .bottom .txt p {
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 5px;
}

@media screen and (max-width:  1000px){
    .card .bottom {
        display: none;
    }
}

@media screen and (max-width:  800px){
    .card {
        padding: 15px;
        max-width: 200px;
        gap: 0px;
    }

    .card img {
        width: 200px;
    }

    .card .txt h1 {
        font-size: 20px;
        margin: 10px 5px 5px 5px;
    }

    .card .txt h2 {
        font-size: 20px;
        margin: 5px 5px 10px 5px;
    }

    .card .txt p {
        font-size: 15px;
        width: 200px;
    }
}