footer {
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 50px;

    margin-top: 70px;
}

footer img {
    max-width: 50px;
    margin-bottom: 30px;
}

footer .links {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 30px;
}

footer .links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer hr {
    margin: 30px;
    width: 80%;
    opacity: 0.5;
}

footer p {
    color: white;
    opacity: 0.5;
    margin: 0;
    text-align: center;
}