body {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

/* HEADER */

header {
    margin-top: 100px;
    text-align: center;
}

header .hr-container button {
    width: 50px;
    height: 3px;
    border: none;
    background-color: gold;
    cursor: pointer;
}

#left {
    opacity: 1;
}

#right {
    opacity: 0.4;
}

/* CONTACT */

.contact-container {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.contact-container .img img {
    max-width: 510px;
}

/* FORM */

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 470px;
    padding: 20px;
}

.form-container .contain {
    display: flex;
    flex-direction: column;

    margin: 20px 0px;
    gap: 10px;
}

#first {
    margin: 0;
}

.form-container .contain label {
    font-weight: bold;
    font-size: 20px;
}

.form-container .contain input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #34495e;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.form-container .contain input:focus {
    background-color: #d5d8dc;
    color: #2c3e50;
}

.form-container .contain textarea {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #34495e;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;

    height: 150px;
}

.form-container .contain textarea:focus {
    background-color: #d5d8dc;
    color: #2c3e50;
}

.form-container button {
    padding: 20px;
    background-color: #272a32;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 520px) {
    .contact-container {
        gap: 10px;
    }

    .contact-container .img img {
        max-width: 300px;
    }

    .form-container {
        width: 300px;
    }
}

/* CUBE */

.cube-container {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.cube-top, .cube-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cube {
    display: flex;
    flex-direction: column;

    padding: 20px;

    justify-content: center;
    align-items: center;

    width: 210px;
    height: 210px;

    background-color: #272a32;
}

.cube h1 {
    font-size: 20px;
    color: #8f9094;
    margin-top: 20px;
    margin-bottom: 0px;
}

.cube p {
    color: #b0b0b3;
    text-align: center;
}

.cube a {
    color: #8f9094;
    text-decoration: none;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #8f9094;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 520px) {
    .contact-container .img img {
        max-width: 300px;
    }

    .cube-top, .cube-bottom {
        justify-content: center;
    }

    .cube {
        width: 260px;
        height: 260px;
    }
}