body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
  margin: 0;
}

.work {
  display: flex;
  align-items: center;
}

.button {
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.0); /* Add a subtle shadow */
}

.button:hover {
  background-color: #03dec0;
  transform: translateY(-20px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.text {
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.text h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1;
}

.blue {
  color: #03dec0;
}