body {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url('../image/bg-contact.png');
  background-size: cover; 
}

/* NAV BARRE */

nav {
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  top: 0;
  position: fixed;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 10;
  transition: 2s background-color;
}

.nav_in {
  margin: auto;
  max-width: 980px;
  height: 100%;
  background-color: none;
  padding: 0px 22px;
}

nav .nav_in p {
  float: right;
  margin-right: 20px;
  font-size: 15px;
  margin-top: 18px;
}

nav .nav_in .a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

nav .a:hover {
  text-decoration: none;
  opacity: 1;
}

nav .nav_in h1 {
  font-size: 21px;
  margin: 0;
  display: flex;
  line-height: 1.14286;
  display: block;
  float: left;
  margin: 14px -14px;
  padding: 0;
  font-weight: 500;
  opacity: .91;
}

.svg_h1 {
  width: 20;
  height: 20;
}

.nav_icon {
  width: auto;
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
}

/* NAV MENU PHONE */

.menu-anime {
  position: absolute;
  width: 100%;
  left: 0;
  top: 52px;
  position: fixed;
  z-index: 50;
  transition: 1.5s height, 1s background-color;
  overflow: hidden;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(255,255,255,0.7);
}

.menu-anime p {
  text-align: center;
}

.menu-anime a {
  text-decoration: none;
  color: black;
}


/* FIN NAV BARRE */

/* Contact */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0px;
}

.contact {
  background-color: white;
  padding: 5px;
  display: flex;
  gap: 25px;
  border-radius: 10px;
  flex-wrap: wrap-reverse;
}

/* FORM */

.contact-form {
  padding: 30px;
}

.contact-form h1 {
  margin: 20px 0px 0px 0px;
}

.contact-form p {
  margin: 0;
  margin-bottom: 20px;
  opacity: 0.5;
}

.name-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin: 20px 0px;
}

.form label {
  font-size: 15px;
  font-weight: 700;
}

#message {
  margin-top: 10px;
  border: none;
  border-bottom: solid;
  border-color: #E7E7E7;
  border-width: 1px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#message:focus {
  outline: none;
}

.button {
  display: flex;
  justify-content: end;
}

#button {
  padding: 20px 40px;
  border: none;
  background-color: #3e1f92;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

#button:active {
  transform: scale(0.95);
}

/* Input */

.fieldset {
  border: none;
}

#form {
  border: none;
  border-bottom: solid;
  border-color: #E7E7E7;
  border-width: 1px;
  padding: 10px 0px;
  background-color: rgba(255, 255, 255,0);
}

#form:focus {
  outline: none;
  border-color: #3e1f92;
}

/* Fin Input */

/* LINKS CONTACT */

.contact-links-container {
  padding: 30px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='560' preserveAspectRatio='none' viewBox='0 0 500 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='500' height='560' x='0' y='0' fill='rgba(45%2c 45%2c 45%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c145.564C33.122%2c147.885%2c68.445%2c167.807%2c97.405%2c151.566C126.358%2c135.328%2c136.719%2c97.917%2c143.058%2c65.332C148.582%2c36.936%2c133.647%2c9.992%2c130.544%2c-18.769C127.288%2c-48.949%2c141.264%2c-82.55%2c124.381%2c-107.777C107.259%2c-133.361%2c73.749%2c-142.212%2c43.639%2c-148.622C15.068%2c-154.704%2c-13.745%2c-150.429%2c-42.049%2c-143.206C-71.262%2c-135.751%2c-99.866%2c-126.043%2c-122.57%2c-106.207C-147.506%2c-84.421%2c-170.47%2c-57.919%2c-176.856%2c-25.428C-183.37%2c7.717%2c-173.542%2c42.195%2c-157.587%2c71.968C-142.232%2c100.621%2c-118.464%2c124.746%2c-89.01%2c138.502C-61.486%2c151.356%2c-30.304%2c143.44%2c0%2c145.564' fill='%23242424'%3e%3c/path%3e%3cpath d='M500 785.792C542.055 780.72 577.119 757.355 615.939 740.404 663.162 719.784 728.5219999999999 720.905 752.749 675.427 776.781 630.316 743.779 576.1 729.6320000000001 526.984 717.311 484.206 708.566 437.772 675.6610000000001 407.789 644.046 378.981 596.52 382.919 556.119 368.877 513.014 353.89599999999996 475.873 321.033 430.26300000000003 322.499 378.824 324.152 323.779 339.21799999999996 289.326 377.45 254.721 415.851 244.673 472.352 248.786 523.881 252.503 570.454 290.95 604.11 310.79200000000003 646.408 330.363 688.129 327.477 743.387 364.579 770.719 401.903 798.2139999999999 453.976 791.343 500 785.792' fill='%23363636'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='500' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  border-radius: 10px;
}

.contact-links-container .contact-links-title h1 {
  color: white;
  font-size: 25px;
  font-weight: 200;
}

.contact-links-container .contact-links-title p {
  color: #ECECEC;
  max-width: 300px;

}

.links-container {
  margin-top: 50px;
}

.links {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border-color: blue;
  gap: 10px;
  border: solid;
  border-color: #2d2d2d;
  transition: border-color 1s, background-color 1s;
}

.links:hover {
  border-color: #3e1f92;
  background-color: rgba(62, 31, 146, 0.5);
}

.links p {
  color: white;
  margin: 0px;
}

.links a {
  text-decoration: none;
}

/* LINKS ICONS */

.links-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
}

.links-icon {
  display: flex;
  gap: 20px;
}

.bg-hover {
  padding: 10px;
  border-radius: 50%;
  width: 30px; height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.5s;
}

.bg-hover:hover {
  background-color: #3e1f92;
}

/* Fin Contact */

/* FOOTER */

footer {
  background-color: black;
  margin-top: 50px;
  padding: 70px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

/* News */

.news {
  color: white;
}

.news h1 {
  margin-top: 0;
}

.news p {
  opacity: 0.7;
}

#news {
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  border-width: 1px;
  padding: 10px;
  border-color: #3f3f3e;
  color: white;
  max-width: 320px;
  transition: border-color 1s;
}

#news:hover {
  border-color: white;
}

#news:focus {
  outline: none;
}

.news button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #3f3f3e;
  border-color: #3f3f3e;
  border: solid;
  border-width: 1px;
  cursor: pointer;
  transition: color 1s, border-color 1s;
  width: 100px; 
}

.news button:hover {
  color: white;
  border-color: white;
}

/* Contact */

.contact-footer p{
  color: white;
  opacity: 0.5;
  margin-top: 0;
}

/* LINKS */

.links-icon-container-footer {
  display: flex;
  align-items: center;
}

.links-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 10px;
  border-radius: 50%;
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
}

.links-icon-footer:hover {
  transform: scale(1.1);
  opacity: 1;
}

.mg-l {
  margin-left: 20px;
}

/* FIN LINKS ICONS */

/* LINKS */

.links-container-footer {
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  color: white;
  gap: 20px;
  flex-wrap: wrap;
}

.links-footer h1 {
  font-size: 18px;
  opacity: 0.7;
  margin-top: 0;
}

.links-footer a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  transition: opacity 1s;
}

.links-footer a:hover {
  opacity: 1;
}

/* Fin FOOTER */

@media screen and (min-width:  800px){
  .menu-anime {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  /* NAV PHONE */

  .a {
    display: none;
  }
  nav .nav_in h1 {
    font-size: 17px;
    margin: 17px -14px;
  }

  /* NAV PHONE */

  /* FOOTER */
  .links-container-footer {
    justify-content: initial;
  }
  .news h1 {
    margin-top: 50px;
  }
  .contact-footer {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 520px) {
  body {
    background-color: black;
  }
  .contact-container {
    padding: 0px 0px;
  }
  .contact {
    padding: 100px 20px;
    border-radius: 0px;
  }
  footer {
    padding: 10px;
  }

}