body {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
}

/* NAV BARRE */

nav {
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  top: 0;
  position: fixed;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 10;
  transition: 2s background-color;
}

.nav_in {
  margin: auto;
  max-width: 980px;
  height: 100%;
  background-color: none;
  padding: 0px 22px;
}

nav .nav_in p {
  float: right;
  margin-right: 20px;
  font-size: 15px;
  margin-top: 18px;
}

nav .nav_in .a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

nav .a:hover {
  text-decoration: none;
  opacity: 1;
}

nav .nav_in h1 {
  font-size: 21px;
  margin: 0;
  display: flex;
  line-height: 1.14286;
  display: block;
  float: left;
  margin: 14px -14px;
  padding: 0;
  font-weight: 500;
  opacity: .91;
}

.svg_h1 {
  width: 20;
  height: 20;
}

/* NAV MENU PHONE */

.menu-anime {
  position: absolute;
  width: 100%;
  left: 0;
  top: 52px;
  position: fixed;
  z-index: 50;
  transition: 1.5s height, 1s background-color;
  overflow: hidden;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(255,255,255,0.7);
}

.menu-anime p {
  text-align: center;
}

.menu-anime a {
  text-decoration: none;
  color: black;
}

/* FIN NAV BARRE */

/* HEADER */

header {
  margin-bottom: 0px;
  display: none;
}

.sous_header {
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 200px;
  padding: 40px; 
  border-radius: 20px;
  position: absolute;
}

header h1 {
  /* font-family: 'Allerta Stencil', sans-serif; */
  margin: 0px 0px;
  font-size: 200px;
  opacity: 0,9;
  color: white;
  line-height: 160px;
  max-width: 500px;
}

header p {
  color: white;
  font-size: 90px;
  margin: 5px 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

.header_img {
   width: 100%;
   filter: grayscale(20%);
}

.chai_phone {
  display: none;
  width: 100%;
}

/* FIN HEADER */

/* CAROUSEL */

.d-none {
  display: none !important;
}

.d-md-block {
    display: block !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mh-100 {
  max-height: 100% !important;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}  

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

/*.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}*/

.carousel-caption {
  position: absolute;
  top: 10%;
  bottom: 10%; 
  left: 10%;
  color: #fff;
}

.carousel-caption h1 {
  font-size: clamp(50px, 8vw, 100px);
  margin: 0px;
}

.carousel-caption p {
  margin: 0px;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}

[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark] .carousel .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target] {
  background-color: #000;
}
[data-bs-theme=dark] .carousel .carousel-caption {
  color: #000;
}

#pc-p {
  display: none;
}


/* FIN CAROUSEL */

/* CARD */

.body_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  margin-top: 50px;
}

.wh-3 {
  width: 250px;
  height: auto;
}

.img-bg {
  display: flex;
  align-items: center;
  background-color: #e2e2e2;
}

/* black card */

.card_black {
  background-color: black;
  margin: 20px;
  max-width: 900px;
  display: flex;
}

.txt_card {
  margin-left: 20px;
  max-width: 300px;
  margin-bottom: 20px;
}

.card_black .txt_card h1 {
  color: white;
  font-size: 30px;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px 0px;
}

.card_black .txt_card p {
  color: white;
  opacity: 0.7;
  font-family: 'Varela', sans-serif;
  margin: 0px 0px 16px 0px;
}

.card_black .txt_card a {
  color: #0066CC;
  text-decoration: none; /* bleu apple */
  margin: 20px 0px 10px 0px;
}

/* white card */

.white_card {
  background: rgb(255,255,255);
  margin: 20px;
  max-width: 900px;
  display: flex;
}

.txt_card {
  padding: 30px;
}

.white_card .txt_card h1 {
  font-size: 30px;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px 0px;
}

.white_card .txt_card p {
  opacity: 0.7;
  font-family: 'Varela', sans-serif;
  margin: 0px 0px 16px 0px;
}

.white_card .txt_card a {
  color: #0066CC;
  text-decoration: none; /* bleu apple */
  margin: 20px 0px 10px 0px;
}

/* CARD GOLD */

.gold_card {
  background: black;
  margin: 20px;
  max-width: 900px;
  display: flex;
}

.gold_card .txt_card h1 {
  font-size: 30px;
  color: #ffd700;
  font-family: 'Cinzel Decorative', cursive;
  margin: 20px 0px 10px 0px;
}

.gold_card .txt_card p {
  color: white;
  opacity: 0.7;
  font-family: 'Varela', sans-serif;
  margin: 0px 0px 16px 0px;
}

.gold_card .txt_card a {
  color: #0066CC;
  text-decoration: none; /* bleu apple */
}

/* FIN CARD */

/* FOOTER */

footer {
  background-color: black;
  margin-top: 50px;
  padding: 70px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

/* News */

.news {
  color: white;
}

.news h1 {
  margin-top: 0;
}

.news p {
  opacity: 0.7;
}

#news {
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  border-width: 1px;
  padding: 10px;
  border-color: #3f3f3e;
  color: white;
  max-width: 320px;
  transition: border-color 1s;
}

#news:hover {
  border-color: white;
}

#news:focus {
  outline: none;
}

.news button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #3f3f3e;
  border-color: #3f3f3e;
  border: solid;
  border-width: 1px;
  cursor: pointer;
  transition: color 1s, border-color 1s;
  width: 100px; 
}

.news button:hover {
  color: white;
  border-color: white;
}

/* Contact */

.contact p{
  color: white;
  opacity: 0.5;
  margin-top: 0;
}

/* LINKS */

.links-icon-container {
  display: flex;
  align-items: center;
}

.links-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 10px;
  border-radius: 50%;
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
}

.links-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.mg-l {
  margin-left: 20px;
}

/* FIN LINKS ICONS */

/* LINKS */

.links-container {
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  color: white;
  gap: 20px;
  flex-wrap: wrap;
}

.links h1 {
  font-size: 18px;
  opacity: 0.7;
  margin-top: 0;
}

.links a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  transition: opacity 1s;
}

.links a:hover {
  opacity: 1;
}

/* Fin FOOTER */

/* FORMAT PHONE */

@media screen and (min-width:  800px){
  .menu-anime {
    display: none;
  }
}

@media screen and (max-width:  1800px){
  header h1 {
    font-size: 100px;
    line-height: 90px;
    max-width: 100%;
  }
  header p {
    font-size: 20px;
  }
  .sous_header {
    max-width: 500px;
  }
}

@media screen and (min-width:  800px){
  .nav_icon {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .sous_header {
    max-width: 500px;
    top: 100px;
  }
}

@media screen and (max-width: 800px) {

  /* NAV PHONE */

  .a {
    display: none;
  }
  nav .nav_in h1 {
    font-size: 17px;
    margin: 17px -14px;
  }

  /* NAV PHONE */

  /* header phone */

  header {
    margin-bottom: 0px;
  }
  .sous_header {
    max-width: 270px;
    margin-top: 50px;
    padding: 20px;
  }
  header h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .header_img {
    display: none;
  }
  .chai_phone {
    display: inherit;
  }

  /* fin header phone */

  #pc {
    display: none;
  }

  #pc-p {
    display: inherit;
  }

  /* CARD PHONE */

  .wh-3 {
    width: 100%;
  }

  .body_card {
    padding: 0px 15px ;
    margin-top: 0;
  }

  .white_card {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .card_black {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .gold_card {
    flex-wrap: wrap;
  }

  .txt_card {
    max-width: 90%;
    margin-bottom: 10px;
  }

  /*footer*/

  .links-container {
    justify-content: initial;
  }
  .news h1 {
    margin-top: 50px;
  }
  .contact {
    margin-bottom: 50px;
  }
}