body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#carousel-container {
    margin-top: 100px;
    width: 60%;
    padding: 2% 10%;
    margin: 100px auto 100px auto;
    overflow: hidden;
    position: relative;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10%;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.carousel-content .txt-content {
    padding: 20px 20px 20px 40px;
    max-width: 400px;
}

.carousel-content .txt-content h1 {
    margin: 0px;
}

.carousel-content .txt-content h2 {
    margin: 0px;
}

.carousel-content .txt-content p {
    font-size: 25px;
}

.carousel-content img {
    max-width: 100%;
    height: auto;
}

.carousel-button {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    color: #333;

    width: 50px;

    border-radius: 5px;
}

.carousel-button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

@media screen and (max-width:  800px){

    #carousel {
        gap: 5%;
    }

    .carousel-content {
        padding: 0px;
    }

    #carousel-container {
        width: 80%;
    }
}